@font-face {
	font-family: 'Springville';
	src: url('../fonts/springville-regular3.eot');
	src: local('Springville'), url('../fonts/springville-regular3.woff') format('woff'), url('../fonts/springville-regular3.ttf') format('truetype'), url('../fonts/springville-regular3.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AcaslonPro';
	src: url('../fonts/acaslonpro-regular.eot');
	src: local('AcaslonPro'), url('../fonts/acaslonpro-regular.woff') format('woff'), url('../fonts/acaslonpro-regular.ttf') format('truetype'), url('../fonts/acaslonpro-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}