// _fonts.scss

@font-face {
	font-family: 'Conv_ACaslonPro-Regular';
	src: url('../fonts/ACaslonPro-Regular.eot');
	src: url('../fonts/ACaslonPro-Regular.woff');
    src: url('../fonts/ACaslonPro-Regular.ttf');
    src: url('../fonts/ACaslonPro-Regular.svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Springville-Regular3';
	src: url('../fonts/Springville-Regular3.eot');
	src: url('../fonts/Springville-Regular3.woff');  
    src: url('../fonts/Springville-Regular3.ttf');
    src: url('../fonts/Springville-Regular3.svg'); 
	font-weight: normal;
	font-style: normal;
}