// _global.scss

body {
    font-size: $font-standard;
    font-family: $font-springville;
}

.row {
    max-width: 1162px;
}

ul li {
    list-style: none;
}

h1 {
    font-size: $font-h1;
}

h2 {
    font-size: $font-h2;
    font-family: $font-springville;
    letter-spacing: -2px;
    line-height: 1.1;
}

h3 {
    font-size: $font-h3;
}

p.lead {
    font-size: $font-lead;
}

.sub-text {
    color: $lightgray;
    text-transform: uppercase;
}

a:link,
a:visited,
a:active {
    color: $lightgray;
}

a:hover {
    text-decoration: underline;
}

.fake-table {
    display: table;
    width: 100%;
}

.fake-cell {
    display: table-cell;
    vertical-align: middle;
}



