// _queries.scss

/* ----- iPad Pro Landscape ---- */

@media screen and ( max-width : 1366px ) {
    .row-absolute .hero-text {
        width: 65%;
        padding: 0 5em;
    }
    
}


/* ---- Regular iPad Landscape ---- */

@media screen and ( max-width : 1024px ) {
    .row-absolute .hero-text {
        width: 75%;
    }
    
    h1 {
        font-size: 3.8rem;
    }
    
    h3 {
        font-size: 2.4rem;
    }
    
    p.lead {
        font-size: 1.5rem;
    }
    
}

/* ---- Regular iPad Portrait ---- */

@media screen and ( max-width : 768px ) {
    .queries-wrapper {
        .hero-wrapper {
            height: auto;
        }
    
        .orbit-slide .orbit-figure {
            height: auto;
        }
    
        .custom-grid {
            margin-top: 6%;
            padding: 0 6%;
        }

        .grid-block {
            width: 46%;
        }
        
        .custom-grid #block-1,
        .custom-grid #block-3,
        .custom-grid #block-5 {
            margin-right: 4%;
            margin-left: 0;
        }
        
        .custom-grid #block-2,
        .custom-grid #block-4,
        .custom-grid #block-6 {
            margin-left: 4%;
            margin-right: 0;
        }
        
        .custom-grid #block-4,
        .custom-grid #block-6 {
            margin-top: 0;
        }
        
        .grid-thumb {
            width: auto;
            height: 300px;
            overflow: hidden;
        }
        
        h2 {
            font-size: 350%;
            letter-spacing: -1px;
            height: 140px;
            overflow: hidden;
        }
    }
}


/* ---- iPhone 6 Plus ---- */

@media screen and ( max-width : 414px ) {
    .queries-wrapper {
        .top-bar {
            height: 50px;
        }
        
        .top-bar-left,
        .top-bar-right {
            width: auto;
        }
        
        .top-bar-left,
        .top-bar-right ul {
            margin-top: 0;
        }
        
        .top-bar-right .menu-number {
            display: none;
        }
        
        .top-bar-left .menu-text {
            padding: 0;
        }
        
        .hero-wrapper {
            margin-top: 50px;
        }
        
        .slider-overlay {
            background: rgba(0, 0, 0, 0.5);
        }
        
        .large-bg {
            display: none;
        }
        
        .orbit-image.small-bg {
            display: block;
            max-width: 100%;
        }
        
        .row-absolute .hero-text {
            width: 100%;
            padding: 0 4em;
        }
        
        h1 {
            font-size: 2.2rem;
        }
        
        h3 {
            font-size: 1.5rem;
        }
        
        p.lead {
            font-size: 1rem;
        }
        
        .orbit-bullets button {
            width: .5rem;
            height: .5rem;
        }
        
        .grid-block {
            width: 47%;
        }
        
        .custom-grid #block-1,
        .custom-grid #block-3,
        .custom-grid #block-5 {
            margin-right: 3%;
            margin-left: 0;
        }
        
        .custom-grid #block-2,
        .custom-grid #block-4,
        .custom-grid #block-6 {
            margin-left: 3%;
            margin-right: 0;
        }
        
        .grid-thumb {
            height: 172px;
        }
        
        h2 {
            font-size: 1.5rem;
            height: 80px;
        }
        
        .grid-block p {
            font-size: 0.7rem;
        }
        
        .grid-block strong {
            font-size: 0.9em;
        }
        
        .footer-copy {
            display: block;
            margin-bottom: 1em;
        }
    }
}

/* ---- iPhone 6 ---- */

@media screen and ( max-width : 375px ) {
   
    
}

/* ---- iPhone 5 ---- */

@media screen and ( max-width : 320px ) {
    
    
}