// _variables.scss

$main-background-color: #fff;
$font-springville: 'Conv_Springville-Regular3', Serif;
$font-acaslon: 'Conv_ACaslonPro-Regular', Serif;
$font-headers: 'Prata', serif;
$font-secondary: 'Arial', Helvetica, sans-serif;
$blackstandard: #333;
$darkgray: #131313;
$lightgray: #767676;
$font-standard: 12px;
$font-h1: 4rem;
$font-h2: 420%;
$font-h3: 2.5rem;
$font-lead: 1.5rem;