// _variables.scss

$main-background-color: #fff;
$font-secondary: 'Arial', Helvetica, sans-serif;
$font-color-secondary: #767676;
$font-standard: 12px;
$font-h1: 4rem;
$font-h2: 3rem;
$font-h3: 2.5rem;
$font-lead: 1.5rem;