// _grid.scss

.custom-grid {
    margin-top: 4%;
}

.grid-block {
    width: 30%;
    float: left;
    margin: 0 0 40px 0;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 3em;
}

.custom-grid #block-1,
.custom-grid #block-4,
.custom-grid #block-2,
.custom-grid #block-5 {
    margin-right: 5%;
}

.custom-grid #block-1,
.custom-grid #block-2,
.custom-grid #block-3 {
    margin-bottom: 5%;
}

.custom-grid #block-6 {
    margin-top: -22.5%;
}

.custom-grid #block-4 {
    margin-top: -7.5%;
}

.grid-date {
    color: $lightgray;
    margin: 15% 0 8%;
    font-size: 85%;
    display: block;
}

.custom-grid h2 {
    margin-bottom: 0.8em;
}

.custom-grid h2 a {
    color: #0a0a0a;
}

.custom-grid h2 a:hover {
    border-bottom: 2px solid #333;
    cursor: pointer;
    text-decoration: none;
}


.grid-sponsor {
    font-family: $font-acaslon;
    color: $darkgray;
}

.grid-date {
    text-transform: uppercase;
    font-family: $font-secondary;
}

.grid-block strong {
    text-transform: uppercase;
    font-weight: normal;
    font-family: $font-headers;
    font-size: 110%;
    letter-spacing: 0.5px;
    border-bottom: 1px solid #0a0a0a;
}




