// _hero.scss

.hero-wrapper {
    height: calc(100vh - 120px);
    position: relative;
    margin-top: 120px;
}

.orbit {
    position: relative;
    height: 85%;
}

.orbit-wrapper,
.orbit-container,
.orbit-slide,
.orbit-figure {
    height: 100%;
}

.orbit-caption {
    max-width: 1400px;
    width: 100%
}

.orbit-bullets {
    height: 15%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1rem;
}

.orbit-bullets button {
    width: .7rem;
    height: .7rem;
    margin: .7rem;
}

.orbit-figure {
    text-align: center;
}

.orbit-image {
    max-width: 1400px;
    width: 100%;
    height: auto;
}